__pycache__/
*.egg-info/
*.egg
*.whl
*.zip
*.tar.gz
.tox/
.nox/
.venv/
.eggs/
.cache/
nosetests.xml
coverage.xml
*.pyc
*.pyo
*.mo
*.pot
*.po
local.bin
local.lib
*.log
*.pot
*.mo
*.db
db.sqlite3
instance/
.benchmark/
benchmarks/
profiling/
*.spec
bin/
lib/
lib64/
pyvenv.cfg
lib64
